@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
  margin: 8em auto;

  background-color: white;
  border-radius: 1em;
  padding: 1em;
}


img.qrcode {
  border-radius: 1em;
  max-width: 100%;
}

.text-container {
  padding: 1em;
}

p {
  text-align: center;
}

p.text {
  font-family: Outfit, sans-serif;
  color: hsl(220, 15%, 55%);
}

p.bold {
  font-size: 1.5vw;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 0.5em;
}

p.normal {
  font-size: 2vmin;
  margin-top: 0;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 75%;
  }

  p.bold {
    font-size: 5.5vw;
  }

  p.normal {
    font-size: 3.5vmin;
  }
}